[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
lxml = "*"
pandas = "*"
html5lib = "*"
beautifulsoup4 = "*"
requests = "*"
instaloader = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.9"
